/* ---------- Resset CSS ---------- */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------- Resset CSS ---------- */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: white;
}
.header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 32px;
  padding: 19.2px 0px 9.2px 0px;
}
.header .fa-arrow-left {
  font-size: 22px;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translate(0, -50%);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgb(50, 50, 50);
  color: white;
  padding-bottom: 32px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  width: 90%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.footer ul {
  width: 90%;
}
.footer li {
  display: flex;
  margin-bottom: 16px;
  font-size: 16px;
}
.footer li a {
  color: white;
}
.footer li a:hover {
  text-decoration: underline;
}
.footer li span {
  margin-right: 8px;
}

main {
  padding-top: 60px;
}

.fa-heart {
  margin-right: 28px;
}
.fa-heart:hover {
  color: #9256dc;
}
.fa-heart:hover::after {
  transform: translate(-100%, 0%) scale(1.1);
  transition: all 0.4s cubic-bezier(0.14, 1.45, 0.49, 1.84);
}
.fa-heart::before {
  display: inline-block;
  transform: translate(0%, 0%);
}
.fa-heart::after {
  content: "\f004";
  font-weight: 900;
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9256dc);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translate(-100%, 50%) scale(0);
  transition: all 0.4s cubic-bezier(0.85, 0.23, 1, 0.52);
  margin-right: -56px;
}

.element-repas__animation {
  background-color: #99E2D0;
  color: white;
  display: inline-block;
  height: 65px;
  transition: all 0.4s linear;
  width: 0px;
  position: relative;
}
.element-repas__animation .fa-circle-check {
  font-size: 24px;
  position: absolute;
  left: 32.5px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0turn);
  transition: all 0.4s linear;
}
.element-repas:hover .element-repas__animation {
  width: 65px;
}
.element-repas:hover .fa-circle-check {
  transform: translate(-50%, -50%) rotate(1turn);
}

.categorie-repas:nth-of-type(1) .element-repas:nth-of-type(1) {
  animation-delay: 0.2s;
}
.categorie-repas:nth-of-type(1) .element-repas:nth-of-type(2) {
  animation-delay: 0.4s;
}
.categorie-repas:nth-of-type(1) .element-repas:nth-of-type(3) {
  animation-delay: 0.6s;
}
.categorie-repas:nth-of-type(1) .element-repas:nth-of-type(4) {
  animation-delay: 0.8s;
}

.categorie-repas:nth-of-type(2) .element-repas:nth-of-type(1) {
  animation-delay: 0.8s;
}
.categorie-repas:nth-of-type(2) .element-repas:nth-of-type(2) {
  animation-delay: 1s;
}
.categorie-repas:nth-of-type(2) .element-repas:nth-of-type(3) {
  animation-delay: 1.2s;
}
.categorie-repas:nth-of-type(2) .element-repas:nth-of-type(4) {
  animation-delay: 1.4s;
}

.categorie-repas:nth-of-type(3) .element-repas:nth-of-type(1) {
  animation-delay: 1.4s;
}
.categorie-repas:nth-of-type(3) .element-repas:nth-of-type(2) {
  animation-delay: 1.6s;
}
.categorie-repas:nth-of-type(3) .element-repas:nth-of-type(3) {
  animation-delay: 1.8s;
}
.categorie-repas:nth-of-type(3) .element-repas:nth-of-type(4) {
  animation-delay: 2s;
}

.element-repas {
  animation-duration: 2s;
  animation-name: glissement;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes glissement {
  from {
    opacity: 0;
    transform: translate(0, 30%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  transition: 0.2s;
  height: 48px;
  border-radius: 32px;
  margin: 16px 16px 48px 16px;
  padding: 0px 24px 0px 24px;
  font-size: 16px;
  color: white;
  background: linear-gradient(#FF79DA, #9256dc);
  min-width: 150px;
}
.button:hover {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
.button:hover {
  filter: brightness(1.2);
}

.loader__element:nth-of-type(1) {
  animation-delay: 0s;
}

.loader__element:nth-of-type(2) {
  animation-delay: 0.5s;
}

.loader__element:nth-of-type(3) {
  animation-delay: 1s;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0px;
  left: 0px;
  background: linear-gradient(#9256dc, #ff79da);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  animation: opacity0 4s forwards;
  z-index: 9999;
}
.loader__element {
  margin: 15px;
  border-radius: 10%;
  height: 30px;
  width: 30px;
  background: linear-gradient(#9256dc, #FF79DA);
  box-shadow: 10px 10px 15px #FF79DA, -10px -10px 30px #9256dc, inset -10px -10px 20px #9256dc, inset 5px 5px 10px #FF79DA;
  animation-duration: 1.5s;
  animation-name: loader-animation;
  animation-iteration-count: infinite;
}

@keyframes opacity0 {
  0% {
    opacity: 1;
    display: flex;
  }
  60% {
    transition: ease-in-out;
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-animation {
  0% {
    transition: ease-in-out;
    border-radius: 10%;
    transform: scale(1);
    box-shadow: 10px 10px 15px #FF79DA, -10px -10px 30px #9256dc, -10px -10px 30px #9256dc, inset -10px -10px 20px #9256dc, inset 5px 5px 10px #FF79DA;
  }
  50% {
    transition: ease-in-out;
    border-radius: 100%;
    transform: scale(1.55);
    box-shadow: 5px 5px 15px #FF79DA, -10px -15px 15px #9256dc, -15px -10px 15px #9256dc, inset 10px 10px 10px #9256dc, inset -5px -5px 5px #FF79DA;
  }
  100% {
    border-radius: 10%;
    transform: scale(1);
    box-shadow: 10px 10px 15px #FF79DA, -10px -10px 30px #9256dc, -10px -10px 30px #9256dc, inset -10px -10px 20px #9256dc, inset 5px 5px 10px #FF79DA;
  }
}
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  background-color: rgba(128, 128, 128, 0.2);
}
.localisation__icon {
  position: relative;
  right: 16px;
}

.brief {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(244, 244, 244);
}
.brief__text {
  padding-bottom: 16px;
  font-size: 16px;
  width: 90%;
}

#fonctionnement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.liste {
  width: 90%;
  margin-bottom: 32px;
}

.element-liste {
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 12px);
  height: 64px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  transition: 0.2s;
  margin: 0px 0px 16px 12px;
  position: relative;
}
.element-liste:hover {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
.element-liste__numero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#FF79DA, #9256dc);
  position: absolute;
  left: 0;
  transform: translate(-50%);
  font-size: 16px;
  width: 24px;
  height: 24px;
  color: white;
  border-radius: 100%;
}
.element-liste__text {
  font-weight: bold;
  font-size: 16px;
}
.element-liste__icon {
  position: absolute;
  left: 12.5%;
  color: rgb(128, 128, 128);
  font-size: 16px;
}
.element-liste:hover {
  background-color: #f1eafb;
}
.element-liste:hover .element-liste__icon {
  color: #9256dc;
}

.section-restaurants {
  background-color: rgba(128, 128, 128, 0.1);
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.restaurants {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
}
.restaurants a {
  width: 100%;
}

.carte {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  transition: 0.2s;
  margin-bottom: 16px;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}
.carte:hover {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
.carte img {
  height: calc(100% - 64px);
  width: 100%;
  object-fit: cover;
  object-position: 50% 62%;
  border-radius: 20px 20px 0 0;
  border: none;
}
.carte__description {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.carte__nom-restaurant {
  font-size: 19.2px;
  font-weight: 900;
  margin-bottom: 7px;
}
.carte__localisation-restaurant {
  font-size: 16px;
}
.carte__coeur {
  height: 100%;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.carte .nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #99E2D0;
  padding: 6px 12px 6px 12px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #2c9c81;
}

.img-restaurant {
  width: 100%;
  height: 70vw;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
  border-radius: 30px 30px 0 0;
  margin-top: 60vw;
  padding-bottom: 16px;
}

.title-restaurant {
  display: flex;
  align-items: center;
  width: 90%;
  margin-bottom: 16px;
}
.title-restaurant__name {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}
.title-restaurant__heart {
  height: 100%;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.categorie-repas {
  width: 90%;
  margin-bottom: 32px;
}
.categorie-repas__title {
  font-size: 19.2px;
  margin-bottom: 24px;
}
.categorie-repas__title span {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 4px;
}

.element-repas {
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: flex-end;
  margin-bottom: 16px;
  border-radius: 15px;
  overflow: hidden;
}
.element-repas:hover {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
.element-repas__text {
  white-space: nowrap;
  overflow: hidden;
  padding: 12px;
  flex: 1;
}
.element-repas__title {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.element-repas__small-title {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.element-repas__prix {
  font-weight: 900;
  color: rgb(40, 40, 40);
  padding: 12px;
  margin-left: auto;
  font-size: 16px;
}

/* ---------- Font ---------- */
/* ---------- Font ---------- */
/* ---------- Body ---------- */
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  padding: 16px 0 16px 0;
  font-size: 24px;
  font-weight: 900;
  padding-top: 32px;
  margin-bottom: 8px;
  width: 90%;
}

/* ---------- Body ---------- */

/*# sourceMappingURL=style.css.map */
