/* ---------- Resset CSS ---------- */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------- Resset CSS ---------- */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: white;
}
.header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 32px;
  padding: 24px 0px 14px 0px;
}
.header .fa-arrow-left {
  font-size: 22px;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translate(0, -50%);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding-bottom: 32px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  width: 90%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.footer ul {
  width: 90%;
}
.footer li {
  display: flex;
  margin-bottom: 16px;
}
.footer li span {
  margin-right: 8px;
}

main {
  padding-top: 54px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  background-color: rgba(128, 128, 128, 0.2);
}
.localisation__icon {
  position: relative;
  right: 16px;
}

.brief {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(244, 244, 244);
}
.brief__text {
  padding-bottom: 16px;
  font-size: 16px;
  width: 90%;
}

#fonctionnement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.liste {
  width: 90%;
  margin-bottom: 32px;
}

.element-liste {
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 12px);
  height: 64px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  transition: 0.2s;
  margin: 0px 0px 16px 12px;
}
.element-liste:hover {
  box-shadow: 8px 8px 4px rgba(128, 128, 128, 0.5);
}
.element-liste__numero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #9356DC;
  position: absolute;
  left: calc(5% - 16px + 16px);
  font-size: 16px;
  width: 24px;
  height: 24px;
  color: white;
  border-radius: 100%;
}
.element-liste__text {
  font-weight: bold;
  font-size: 16px;
}
.element-liste__icon {
  position: absolute;
  left: 20%;
  color: rgb(128, 128, 128);
  font-size: 16px;
}
.element-liste:hover {
  background-color: #f2eafb;
}
.element-liste:hover .element-liste__icon {
  color: #9356DC;
}

.section-restaurants {
  background-color: rgba(128, 128, 128, 0.1);
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.restaurants {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
}
.restaurants a {
  width: 100%;
}

.carte {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  transition: 0.2s;
  margin-bottom: 16px;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}
.carte:hover {
  box-shadow: 8px 8px 4px rgba(128, 128, 128, 0.5);
}
.carte img {
  height: calc(100% - 64px);
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border: none;
}
.carte__description {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.carte__nom-restaurant {
  font-size: 19.2px;
  font-weight: 900;
  margin-bottom: 7px;
}
.carte__coeur {
  height: 100%;
  font-size: 28px;
  display: flex;
  align-items: center;
}
.carte .nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #99E2D0;
  padding: 6px 12px 6px 12px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #2c9c81;
}

.img-restaurant {
  height: 230px;
  background: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: 0px 54px;
  margin-bottom: 10px;
}
.img-restaurant--la-francaise {
  background-image: url(../../images/restaurants/a_la_francaise.jpg);
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 54px;
  background-color: rgb(244, 244, 244);
  border-radius: 30px 30px 0 0;
}

.title-restaurant {
  display: flex;
  align-items: center;
  width: 90%;
}
.title-restaurant__name {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 32px;
}
.title-restaurant__heart {
  height: 100%;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.categorie-repas {
  width: 90%;
  margin-bottom: 32px;
}
.categorie-repas__title {
  font-size: 19.2px;
  margin-bottom: 24px;
}
.categorie-repas__title span {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 4px;
}

.element-repas {
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: flex-end;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 15px;
}
.element-repas:hover {
  box-shadow: 8px 8px 4px rgba(128, 128, 128, 0.5);
}
.element-repas__title {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 8px;
}
.element-repas__prix {
  font-weight: 900;
  color: rgb(40, 40, 40);
}
.element-repas .fa-circle-check {
  display: none;
}

/* ---------- Font ---------- */
/* ---------- Font ---------- */
/* ---------- Body ---------- */
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  padding: 16px 0 16px 0;
  font-size: 24px;
  font-weight: 900;
  padding-top: 32px;
  margin-bottom: 8px;
  width: 90%;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.5);
  transition: 0.2s;
  height: 48px;
  border-radius: 32px;
  margin: 16px 16px 48px 16px;
  padding: 0px 24px 0px 24px;
  font-size: 16px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  min-width: 150px;
}
.button:hover {
  box-shadow: 8px 8px 4px rgba(128, 128, 128, 0.5);
}
.button:hover {
  filter: brightness(1.2);
}

/* ---------- Body ---------- */

/*# sourceMappingURL=style.css.map */
