@import "./base/reset";
@import "./utils/variable";
@import "./utils/mixin";

@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/body";
@import './components/animation-coeur';
@import "./components/animation-check-icon";
@import "./components/animation-menu";
@import "./components/button";
@import "./components/loader";
@import "./pages/accueil";
@import "./pages/menu";



/* ---------- Font ---------- */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* ---------- Font ---------- */



/* ---------- Body ---------- */

body {
    font-family: $font-text;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    @include title;
    width: $width;
}


/* ---------- Body ---------- */
