.element-repas { 
    
    &__animation {
        background-color: $color-tertiary;
        color: white;
        display: inline-block;
        height: $width-height-check-animation;
        transition: all 0.3s ease-out;
        width: 0px;
        position: relative;
        
        .fa-circle-check {
            font-size: $size--title;
            position: absolute;
            left: calc($width-height_check-animation/2);
            top: 50%;
            transform: translate(-50%, -50%) rotate(0turn);
            
            
        }
    }

    &:hover .element-repas__animation {
        width : $width-height-check-animation;
    }

    &:hover .fa-circle-check {
        transform: translate(-50%, -50%) rotate(1turn);
        transition: all 0.3s ease-out;
        animation-delay: 0.1s;
    }
}