#fonctionnement > *, .section-restaurants > *, .footer > * {
    @include desktop {
        @include width-desktop;
    }
}

.localisation {
    @include flex-center($axe-p: center, $x-y: row);
    font-size: $size; 
    font-weight: bold;
    padding: $size;
    background-color: rgba(128, 128, 128, 0.2);

    &__icon { 
        position: relative;
        right: $size;
    }
}

.brief { 
    @include flex-center;
    text-align: center; 
    background-color: $color-background;
    &__text {
        padding-bottom: $size;
        font-size: $size;
        width: $width;
    } 
}

#fonctionnement { 
    @include flex-center;
}



.liste { 
    width: $width; 
    margin-bottom: $size*2;

    @include desktop {
        @include flex-center ($x-y: row);
    }
}

.element-liste { background-color: $color-background;
    @include flex-center;
    width: calc(100% - 12px);
    height: $size*4;
    border-radius: $size;
    @include shadow;
    margin: 0px 0px $size 12px;
    position: relative;
    

    @include tablette {
        width: 100%;
        margin: 0px 0px $size 0px;
    }

    @include desktop {
        width: 30%;
    }

    &__numero {
        @include flex-center;
        background: linear-gradient($color-secondary, $color-primary);
        position: absolute;
        left: 0;
        transform: translate(-50%);
        font-size: $size;
        width: $size*1.5;
        height: $size*1.5;
        color: white;
        border-radius: 100%;

        @include tablette {
            width: 64px;
            height: 64px;
            border-radius: $size 0 0 $size;
            left: 31px;
        }

        @include desktop {
            width: 64px;
            height: 64px;
            border-radius: $size 0 0 $size;
            left: 31px;
        }
    }

    &__text {
        font-weight: bold;
        font-size: $size;

        @include desktop {
            position: relative;
            left: 40px;
        }
    }

    &__icon {
        position: absolute;
        left: 14%;
        color: rgba(128, 128, 128, 1);
        font-size: $size;
        transform: translate(-50%);

        @include tablette {
            left: 20%;
        }

        @include desktop {
            left: 28%;
        }
    }

    &:hover {
        background-color: lighten($color-primary, 35);
    }

    &:hover .element-liste__icon {
        color: $color-primary;
    }
}

.section-restaurants {
    background-color: $color-background;
    padding-top: $size;
    @include flex-center;
}

.restaurants {
    width: $width;
    @include flex-center;
    padding-bottom: $size*3;

    @include tablette {
        @include flex-center($axe-p: space-between,$x-y: row);
        flex-wrap: wrap;
    }

    @include desktop {
        @include flex-center($axe-p: space-between, $x-y: row);
        flex-wrap: wrap;
        @include width-desktop;
    }
    
    a {
        width: 100%;
        margin-bottom: $size;
        @include tablette {
            width: 48.5%;
            margin-bottom: 22px;
        }

        @include desktop {
            width: 49%;
            margin-bottom: 22px;
        }
    }
}

.carte { 
    @include flex-center($axe-p: start);
    @include shadow;
    
    width: 100%;
    height: $size * 15.5;
    border-radius: 20px;
    background-color: white;
    position: relative;
    
    @include desktop {
        height: 325px;
    }

    img {
        height: calc(100% - $size*4);
        width: 100%;
        object-fit: cover;
        object-position: 50% 62%;
        border-radius: 20px 20px 0 0;
        border: none;              
    }

    &__description { 
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    &__nom-restaurant {
        @include title-small;
    }

    &__localisation-restaurant {
        font-size: $size;
    }

    &__coeur {
        @include icon;
    }

    .nouveau {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $color-tertiary;
        padding: 6px 12px 6px 12px;
        border-radius: 2px;
        font-size: $size;
        font-weight: bold;
        color: darken($color-tertiary, $amount: 35)
    }
}