.localisation {
    @include flex-center($axe-p: center, $x-y: row);
    font-size: $size; 
    font-weight: bold;
    padding: $size;
    background-color: rgba(128, 128, 128, 0.2);

    &__icon { 
        position: relative;
        right: $size;
    }
}

.brief { 
    @include flex-center;
    text-align: center; 
    background-color: $color-background;
    &__text {
        padding-bottom: $size;
        font-size: $size;
        width: $width;
    } 
    
}

#fonctionnement { 
    @include flex-center;
}

.liste { 
    width: $width; 
    margin-bottom: $size*2;
}

.element-liste { background-color: $color-background;
    @include flex-center;
    width: calc(100% - 12px);
    height: $size*4;
    border-radius: $size;
    @include shadow;
    margin: 0px 0px $size 12px;
    position: relative;
    
    &__numero {
        @include flex-center;
        background: linear-gradient($color-secondary, $color-primary);
        position: absolute;
        left: 0;
        transform: translate(-50%);
        font-size: $size;
        width: $size*1.5;
        height: $size*1.5;
        color: white;
        border-radius: 100%;
    }

    &__text {
        font-weight: bold;
        font-size: $size;
    }

    &__icon {
        position: absolute;
        left: 12.5%;
        color: rgba(128, 128, 128, 1);
        font-size: $size;
    }

    &:hover {
        background-color: lighten($color-primary, 35);
    }

    &:hover .element-liste__icon {
        color: $color-primary;
    }
}

.section-restaurants {
    background-color: rgba(128, 128, 128, 0.1);
    padding-top: $size;
    @include flex-center
}

.restaurants {
    width: $width;
    @include flex-center;
    padding-bottom: $size*3;
    a {
        width: 100%;
    }
}

.carte { 
    @include flex-center($axe-p: start);
    @include shadow;
    margin-bottom: $size;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    position: relative;

    img {
        height: calc(100% - $size*4);
        width: 100%;
        object-fit: cover;
        object-position: 50% 62%;
        border-radius: 20px 20px 0 0;
        border: none;              
    }

    &__description { 
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    &__nom-restaurant {
        @include title-small;
    }

    &__localisation-restaurant {
        font-size: $size;
    }

    &__coeur {
        @include icon;
    }



    .nouveau {
        position: absolute;
        top: 5%;
        right: 5%;
        background-color: $color-tertiary;
        padding: 6px 12px 6px 12px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;
        color: darken($color-tertiary, $amount: 35)

        
    }
}