.img-restaurant {
    width: 100%;
    height: 70vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;

    @include tablette {
        height: 60vw;
    }

    @include desktop {
        height: 100%;
        object-position: 0% 62%;
    }
}

.menu { 
    @include flex-center;
    background-color: $color-background;
    border-radius: 30px 30px 0 0;
    margin-top: 60vw;
    padding-bottom: $size;

    @include tablette {
        margin-top: 50vw;
    }

    @include desktop {
        margin-top: 50vh;
        @include width-desktop;
        border-radius: 30px;
        margin-top: 50px;
        padding-bottom: 0px;
        background-color: rgba($color-background, 0.8);

        @include desktop-small {
            margin-top: 20px;

            .button {
                margin: 0 0 32px 0;
            }
        }
    }

    
}

.title-restaurant { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $width;
    margin-bottom: $size;
    
    @include desktop {
        @include width-desktop;
    }

    &__name { 
        font-family: $font-logo;
        font-weight: 400;
        font-size: $size--title + 4;
        width: 80%; 
    }

    &__heart { 
        @include icon;
    }
}

.categories {
    @include flex-center;
    flex-wrap: wrap;
    width: $width;

    @include desktop {
        @include width-desktop;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.categorie-repas {
    width: 100%;
    margin-bottom: $size * 2;

    @include tablette {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        
    }

    @include desktop {
        width: calc(30% - 3px);
    }

    &--border{
        @include desktop {
            padding-left: 2.5%;
            padding-right: 2.5%;
            border-left: 3px dashed $color-tertiary;
            border-right: 3px dashed $color-tertiary;
        }
    }

    &__title {
        font-size: $size--title-small;
        margin-bottom: $size--title;
        
        span {
            border-bottom: 3px solid $color-tertiary;
            padding-bottom: 4px;
        }
    }
}


.tout-elemant-repas {
    @include tablette {
        width: 85%;
        margin-top: 9px;
        padding-top: 20px;
        border-top: 3px dashed $color-tertiary; 
    }
}

.element-repas { 
    @include shadow;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: flex-end;
    margin-bottom: $size;
    border-radius: 15px;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }
    
    &__text { 
        white-space: nowrap;
        overflow: hidden;
        padding: calc($size / 4) * 3;
        flex: 1;
    }

    &__title {
        font-weight: 900;
        font-size: $size + 1;
        margin-bottom: calc($size / 2); 
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: context-menu;
    }

    &__small-title { 
        font-size: $size - 1;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }

    &__prix { 
        font-weight: 900;
        color: rgb(40, 40, 40);
        padding: $size - 4;
        margin-left: auto;
        font-size: $size;
    }
}
   

    