@mixin flex-center ($axe-p: space-around, $axe-s: center, $x-y: column) {
   display: flex;
   justify-content: $axe-p;
   align-items: $axe-s;
   flex-direction: $x-y;
}
 
@mixin title {
   padding: $size 0 $size 0;
   font-size: $size--title;
   font-weight: 900;
   padding-top: $size*2;
   margin-bottom: calc($size/2);
}

@mixin title-small {
   font-size: $size--title-small;
   font-weight: 900;
   margin-bottom: 7px;
}

@mixin icon {
   height: 100%;
   font-size: $size--icon;
   display: flex;
   align-items: center;
}

@mixin button {
   @include flex-center;
   @include shadow;
   height: $size*3;
   border-radius: $size*2;
   margin: $size $size $size*3 $size;
   padding: 0px $size*1.5 0px $size*1.5;
   font-size: $size;
   color: white;
   background: linear-gradient($color-secondary, $color-primary);
   &:hover{
      filter: brightness(1.2); 
   }
}

 @mixin shadow {
   box-shadow: $shadow;
   transition: 0.2s;
   &:hover{
      box-shadow:  calc($size/2) calc($size/2) calc($size/4) rgba(128, 128, 128, 0.5);
   }
}

