$color-primary: #9256dc;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;
$color-background: rgb(244, 244, 244);

$font-logo: 'Shrikhand', cursive; 
$font-text: 'Roboto', sans-serif;

$size: 16px;
$size--logo: $size * 2;
$size--title: $size * 1.5;
$size--title-small: $size * 1.2;
$size--icon: 28px;

$shadow: 0px calc($size/4) calc($size/4) rgba(128, 128, 128, 0.5);

$logo-padding: $size--title-small 0px $size--title-small - 10 0px;

$height-header: 60px;

$width: 90%;
