.footer { 
    @include flex-center;
    background-color: rgba(50, 50, 50, 1);
    color: white;
    padding-bottom: $size*2;

    

    &--menu {
        @include desktop {
            background-color: rgba(50, 50, 50, 0.9);
            padding-bottom: 0px;
            position: fixed;
            bottom: 0px;
            width: 100%;
        }

        #footer__logo {
            @include desktop-small {
                text-align: center;
                padding-top: 16px;
            }
        }

        ul {
            @include desktop-small {
                @include flex-center($x-y: row);
            }
        }
    }

    #footer__logo { 
        font-family: $font-logo;
        font-weight: 400;
        width: $width;
        margin-top: $size;
        margin-bottom: $size;

        @include desktop {
            @include width-desktop;
                margin: auto;
        }
    }
    
    ul {
        width: $width;

        @include desktop {
            @include width-desktop;
        }
    }

    li {
        display: flex;
        margin-bottom: $size;
        font-size: $size;

        a {
            color: white;
            
            &:hover {
                text-decoration: underline;
            }
        }

        span {
            margin-right: calc($size/2);
        }
    }
}
