.footer { 
    @include flex-center;
    background-color: rgba(50, 50, 50, 1);
    color: white;
    padding-bottom: $size*2;

    &__logo { 
        font-family: $font-logo;
        font-weight: 400;
        width: $width;
        margin-top: $size;
        margin-bottom: $size;
    }
    
    ul {
        width: $width;
    }

    li {
        display: flex;
        margin-bottom: $size;
        font-size: $size;

        span {
            margin-right: calc($size/2);
        }
    }

}
