.header {  
    @include flex-center;
    box-shadow: $shadow;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: white;
        
    

    h1 {
        font-family: $font-logo;
        font-size: $size--logo;
        padding: $logo-padding; 
    }
    
    .fa-arrow-left { 
        font-size: $size--logo - 10;
        position: absolute;
        left: $size--title;
        top: 50%;  
        transform: translate(0, -50%) scale(1);
        transition: transform 0.2s ease-in-out;

        &:hover{
            transform: translate(0, -50%) scale(1.5);
        }

        @include desktop {
            left: 0px;
        }
    }

    .position-arrow-desktop {
        @include desktop {
            @include width-desktop;
            position: relative;
            display: flex;
            justify-content: center;
        }
    }
}


